body {
	height: initial !important;
}

.brand {
	vertical-align: super;
	color: white;
	font-weight: bolder;
}
.sidenav{
	width: 15em;
}
.sidenavTitle {
	color: rebeccapurple;
	font-weight: bold;
}
.collegeName {
	color: rebeccapurple;
	font-weight: bold;
}
.infoCards {
	width: 95%;
	margin: 1em auto;
}