body {
	height: initial !important;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 0px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
::-webkit-scrollbar {
	display: none;
}

.toolbox {
	margin: auto;
}
.searchContainer {
	color: white;
	margin: auto;
	width: 70%;
}
.searchContainer label {
	color: white;
}
.searchContainer input {
	border-bottom-color: white;
	color: white;
}
.brand {
	vertical-align: super;
	color: white;
	font-weight: bolder;
	margin: auto;
}
.sidenav{
	width: 15em;
}
.menuIcon {
	position: absolute;
	top: 10px;
	left: 10px;
}
.sidenavTitle {
	color: rebeccapurple;
	font-weight: bold;
}
.collegeName {
	color: rebeccapurple;
	font-weight: bold;
}
.infoCards {
	width: 100%;
	margin: 1em auto;
}

.collegeCard {
	width: 300px;
	height: 450px;
	margin: 1em auto;
}
.collegeImg {
	background-color: rebeccapurple;
	height: 200px;
}

.performanceDialog {
	width: 70%;
	height: 95%;
}
.studentImg {
	height: 50px;
    width: 50px;
    background-color: purple;
    border-radius: 999px;
}

.spinner {
	min-width: 40px;
	min-height: 40px;
	border-radius: 999px;
}