body {
	height: initial !important;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
::-webkit-scrollbar {
	display: none;
}

.toolbar {
	position: fixed;
	z-index: 999;
}
.toolbox {
	margin: auto;
}
.searchContainer {
	color: white;
	margin: auto;
	width: 70%;
}
.searchContainer label {
	color: white;
}
.searchContainer input {
	border-bottom-color: white;
	color: white;
}
.brand {
	vertical-align: super;
	color: white;
	font-weight: bolder;
	margin: auto;
}
.contentContainer {
	position: relative;
	top: 128px;
}
.sidenav{
	width: 15em;
}
.menuIcon {
	position: absolute;
	top: 10px;
	left: 10px;
}
.sidenavTitle {
	color: rebeccapurple;
	font-weight: bold;
}
.collegeName {
	color: rebeccapurple;
	font-weight: bold;
}
.infoCards {
	width: 95%;
	margin: 1em auto;
}